@font-face {
  font-family:'digital-clock-font' ;
  src: local('digital'), url('./fonts/digital-clock/digital-7.ttf')
}

.Header {
  background-color: black;
  margin: 16px;
  padding: 16px;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgb(34, 82, 13);
  
}


.Reloj {
  color: rgb(251, 6, 6);
  text-shadow: 2px 2px 5px rgb(224, 191, 185);
  text-align: right;
  vertical-align: top;
  font-family: "digital-clock-font";
}





